/Project/EWSTM8/STM8S003/Exe/*.*
!/Project/EWSTM8/STM8S003/Exe/*.hex
/Project/EWSTM8/STM8S003/List/*.*
/Project/EWSTM8/STM8S003/Obj/*.*

/Project/EWSTM8/settings/*.*

/Project/EWSTM8/*.*
!/Project/EWSTM8/Project.ewd
!/Project/EWSTM8/Project.ewp
!/Project/EWSTM8/Project.ewt
!/Project/EWSTM8/Project.eww