/Project/EWSTM8/STM8S003/
/Project/EWSTM8/STM8S003/Project.dep
/Project/EWSTM8/STM8S003/BuildLog.log

/Project/EWSTM8/settings/*.*
!/Project/EWSTM8/settings/Project.dbgbt
!/Project/EWSTM8/settings/Project.dnx
!/Project/EWSTM8/settings/Project.wsdt

/Project/EWSTM8/*.*
/Project/EWSTM8/Project.ewd
/Project/EWSTM8/Project.ewp
/Project/EWSTM8/Project.ewt
/Project/EWSTM8/Project.eww